@keyframes 'hit'{
    0% {
        transform:rotateX(0deg) translateY(0px) rotateZ(0deg);
    }
    5% {
        transform:rotateX(-25deg) translateY(30px) rotateY(0deg);
    }
    10% {
        transform:rotateX(50deg) translateY(80px) rotateY(0deg);
    }
    25% {
        transform:rotateX(-50deg) translateY(-180px) rotateY(0deg);
    }
    60% {
        transform:rotateX(5deg) translateY(-180px) rotateY(-15deg);
    }
}

@keyframes 'rotation'{
    0% {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(-200px);
    }
    50% {
        transform:rotateX(20deg) rotateY(-20deg) rotateZ(-20deg)translateY(-200px);
    }
    100%{
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg) translateY(-200px);
    }
}

@keyframes 'death' {
    0% {
        opacity-brush: gradient( linear, 0% 100%, 100% 0%, from( #ffffffff ), to( #ffffff00 ) );
        opacity: 1;
        transform:translateX(-10px);
    }
    2% {
        transform:translateX(10px);
    }
    4% {
        transform:translateX(-10px);
    }
    9% {
        transform:translateX(10px);
    }
    11% {
        transform:translateX(-10px);
    }
    12% {
        transform:translateX(10px);
    }
    15% {
        transform:translateX(-10px);
    }
    16% {
        transform:translateX(-10px);
    }
    19% {
        transform:translateX(10px);
    }
    100%{
        opacity-brush: gradient( linear, 100% 100%, 100% 100%, from( #ffffffff ), to( #ffffff00 ) );
        opacity: 0;
    }
}


@keyframes 'ability'{
    0% {
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
    }
    25%{
        transform:rotateX(5deg) rotateY(-5deg)  rotateZ(0deg);
    }
    50%{
        transform:rotateX(-5deg) rotateY(5deg)  rotateZ(0deg);
    }
    75%{
        transform:rotateX(5deg) rotateY(-5deg)  rotateZ(0deg);
    }
    100%{
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
    }
}
/* 
@keyframes 'clipMe' {
      0% {
        clip: rect(0%, 80%, 0%, 0%);
      }
  
      25% {
        clip: rect(0px, 20%, 100%, 0px);
      }
  
      50% {
        clip: rect(80%, 100%, 100%, 0%);
      }
  
      75% {
        clip: rect(0%, 100%, 100%, 80%);
      }

      100% {
        clip: rect(0%, 80%, 0%, 0%);
      }
}    */


@keyframes 'clipMe' {
    0% {
        opacity-brush: gradient( linear, 0% 0%, 0% 10%, from( #ffffffff ), to( #ffffff00 ) );
        wash-color:rgb(255, 0, 212);
        brightness: 1;
        blur: gaussian( 0 );
    }
    25% {
        opacity-brush: gradient( linear, 0% 0%, 10% 0%, from( #ffffffff ), to( #ffffff00 ) );
    }
    50% {
        opacity-brush: gradient( linear, 0% 10%, 0% 0%, from( #ffffffff ), to( #ffffff00 ) );
        brightness: 5;
        blur: gaussian( 1 );
    }
    75% {
        opacity-brush: gradient( linear, 10% 0%, 0% 0%, from( #ffffffff ), to( #ffffff00 ) );
    }
    100% {
        opacity-brush: gradient( linear, 0% 0%, 0% 10%, from( #ffffffff ), to( #ffffff00 ) );
        wash-color:rgb(255, 230, 0);
        brightness: 1;
        blur: gaussian( 0 );
    }
}   

