@keyframes 'myhit'{
    0% {
        transform:rotateX(0deg) translateY(0px) rotateZ(0deg);
    }
    25% {
        transform:rotateX(80deg) translateY(160px) rotateY(0deg);
    }
    30% {
        transform:rotateX(-50deg) translateY(-50px) rotateY(0deg);
    }
    50% {
        transform:rotateX(5deg) translateY(0px) rotateY(-15deg);
    }
    100% {
        transform:rotateX(0deg) translateY(0px) rotateZ(0deg);
    }
}

@keyframes 'youhit'{
    0% {
        transform:rotateX(0deg) translateY(0px) rotateZ(0deg);
    }
    25% {
        transform:rotateX(-80deg) translateY(-160px) rotateY(0deg);
    }
    30% {
        transform:rotateX(50deg) translateY(50px) rotateY(0deg);
    }
    50% {
        transform:rotateX(-5deg) translateY(0px) rotateY(15deg);
    }
    100% {
        transform:rotateX(0deg) translateY(0px) rotateZ(0deg);
    }
}

@keyframes 'rotation'{
    0% {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateY(-200px);
    }
    50% {
        transform:rotateX(20deg) rotateY(-20deg) rotateZ(-20deg)translateY(-200px);
    }
    100%{
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg) translateY(-200px);
    }
}

@keyframes 'select_target'{
    0% {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        border: 0px solid green;
        brightness: 1;
    }
    25% {
        transform:rotateX(0deg) rotateY(0deg) rotateZ(5deg);
        border: 3px solid green;
        brightness: 2;
    }
    50%{
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(-5deg);
        brightness: 1;
        border: 0px solid green;
    }
    100%{
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
        brightness: 1;
        border: 0px solid green;
    }
}

@keyframes 'skill_rotation'{
    0% {
        transform:rotateZ(0deg);
        border: 0px solid gold;
        brightness: 1;
    }
    25% {
        transform:rotateZ(5deg);
        border: 3px solid green;
        brightness: 2;
    }
    50% {
        transform:rotateZ(-5deg);
        border: 3px solid gold;
        brightness: 2;
    }
    100%{
        transform:rotateZ(0deg);
        brightness: 1;
        border: 0px solid gold;
    }
}

@keyframes 'my_death_animation1'{
    0%{
        transform:rotateZ(0deg) translateY(0px);
    }
    30%{
        transform:rotateZ(25deg) translateY(60px);
    }
    100%{
        transform: rotateZ(40deg) translateY(88px);
    }
}

@keyframes 'my_death_animation2'{
    0%{
        transform:rotateZ(0deg) translateY(0px);
    }
    30%{
        transform:rotateZ(15deg) translateY(60px);
    }
    100%{
        transform: rotateZ(144deg) translateY(88px);
    }
}

@keyframes 'my_death_animation3'{
    0%{
        transform:rotateZ(0deg) translateY(0px);
    }
    30%{
        transform:rotateZ(-15deg) translateY(60px);
    }
    100%{
        transform: rotateZ(-44deg) translateY(88px);
    }
}


@keyframes 'you_death_animation1'{
    0%{
        transform:rotateZ(0deg) translateY(0px);
    }
    30%{
        transform:rotateZ(-25deg) translateY(-60px);
    }
    100%{
        transform: rotateZ(-40deg) translateY(-88px);
    }
}

@keyframes 'you_death_animation2'{
    0%{
        transform:rotateZ(0deg) translateY(0px);
    }
    30%{
        transform:rotateZ(-15deg) translateY(-60px);
    }
    100%{
        transform: rotateZ(-144deg) translateY(-88px);
    }
}

@keyframes 'you_death_animation3'{
    0%{
        transform:rotateZ(0deg) translateY(-0px);
    }
    30%{
        transform:rotateZ(-15deg) translateY(-60px);
    }
    100%{
        transform: rotateZ(-44deg) translateY(-88px);
    }
}

@keyframes 'skill_ready' {
    
}


@keyframes 'hurt'{
    3%{
        transform: rotateZ(-3deg);
        wash-color: #ff0000;
    }
    5%{
        transform: rotateZ(2deg);
        wash-color: #ffffff;
    }
    7%{
        transform: rotateZ(-3deg);
        wash-color: #ff0000;
    }
    10%{
        transform: rotateZ(3deg);
        wash-color: #ffffff;
    }
    13%{
        transform: rotateZ(-2deg);
        wash-color: #ff0000;
    }
    15%{
        transform: rotateZ(3deg);
        wash-color: #ffffff;
    }
    18%{
        transform: rotateZ(-2deg);
        wash-color: #ff0000;
    }
    20%{
        transform: rotateZ(3deg);
        wash-color: #ffffff;
    }
    23%{
        transform: rotateZ(-2deg);
        wash-color: #ff0000;
    }
    25%{
        transform: rotateZ(-2deg);
        wash-color: #ffffff;
    }
    27%{
        transform: rotateZ(3deg);
        wash-color: #ff0000;
    }
    30%{
        transform: rotateZ(-2deg);
        wash-color: #ffffff;
    }
    33%{
        transform: rotateZ(-3deg);
        wash-color: #ff0000;
    }
    56%{
        transform: rotateZ(2deg);
        wash-color: #ffffff;
    }
    70%{
        transform: rotateZ(-3deg);
        wash-color: #ff0000;
    }
    76%{
        transform: rotateZ(3deg);
        wash-color: #ffffff;
    }
    80%{
        transform: rotateZ(-2deg);
        wash-color: #ff0000;
    }
    90%{
        transform: rotateZ(3deg);
        wash-color: #ffffff;
    }
    91%{
        transform: rotateZ(-2deg);
        wash-color: #ff0000;
    }
    92%{
        transform: rotateZ(3deg);
        wash-color: #ffffff;
    }
    94%{
        transform: rotateZ(-2deg);
        wash-color: #ff0000;
    }
    95%{
        transform: rotateZ(-2deg);
        wash-color: #ffffff;
    }
}

@keyframes 'death' {
    0% {
        opacity: 1;
    }
    /* 2% {
        transform:translateX(10px);
    }
    4% {
        transform:translateX(-10px);
    }
    9% {
        transform:translateX(10px);
    }
    11% {
        transform:translateX(-10px);
    }
    12% {
        transform:translateX(10px);
    }
    15% {
        transform:translateX(-10px);
    }
    16% {
        transform:translateX(-10px);
    }
    19% {
        transform:translateX(10px);
    } */
    100%{
        opacity: 0.3;
    }
}


@keyframes 'ability'{
    0% {
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
    }
    25%{
        transform:rotateX(5deg) rotateY(-5deg)  rotateZ(0deg);
    }
    50%{
        transform:rotateX(-5deg) rotateY(5deg)  rotateZ(0deg);
    }
    75%{
        transform:rotateX(5deg) rotateY(-5deg)  rotateZ(0deg);
    }
    100%{
        transform:rotateX(0deg) rotateY(0deg)  rotateZ(0deg);
    }
}
/* 
@keyframes 'clipMe' {
      0% {
        clip: rect(0%, 80%, 0%, 0%);
      }
  
      25% {
        clip: rect(0px, 20%, 100%, 0px);
      }
  
      50% {
        clip: rect(80%, 100%, 100%, 0%);
      }
  
      75% {
        clip: rect(0%, 100%, 100%, 80%);
      }

      100% {
        clip: rect(0%, 80%, 0%, 0%);
      }
}    */


@keyframes 'grave' {
    0% {
        blur: gaussian( 2 );
        opacity: 0.1;
    }
    25% {
    }
    50% {
        blur: gaussian( 5 );
        opacity: 0.3;
    }
    75% {
    }
    100% {
        blur: gaussian( 2 );
        opacity: 0.1;
    }
}   

@keyframes 'high' {
    0%{
        brightness: 1;
        border: 0px solid green;
    }
    50%{
        brightness: 5;
        border: 1px solid green;
    }
    100%{
        brightness: 1;
        border: 0px solid green;
    }
}

@keyframes 'high-rotation' {
    0%{
        brightness: 1;
        border: 0px solid green;
        transform: rotateZ(0deg);
    }
    50%{
        brightness: 5;
        border: 1px solid green;
        transform: rotateZ(180deg);
    }
    100%{
        brightness: 1;
        border: 0px solid green;
        transform: rotateZ(-180deg);
    }
}


@keyframes 'clipMe' {
    0% {
        opacity-brush: gradient( linear, 0% 0%, 0% 10%, from( #ffffffff ), to( #ffffff00 ) );
        wash-color:rgb(255, 0, 212);
        brightness: 1;
        blur: gaussian( 0 );
    }
    25% {
        opacity-brush: gradient( linear, 0% 0%, 10% 0%, from( #ffffffff ), to( #ffffff00 ) );
    }
    50% {
        opacity-brush: gradient( linear, 0% 10%, 0% 0%, from( #ffffffff ), to( #ffffff00 ) );
        brightness: 5;
        blur: gaussian( 1 );
    }
    75% {
        opacity-brush: gradient( linear, 10% 0%, 0% 0%, from( #ffffffff ), to( #ffffff00 ) );
    }
    100% {
        opacity-brush: gradient( linear, 0% 0%, 0% 10%, from( #ffffffff ), to( #ffffff00 ) );
        wash-color:rgb(255, 230, 0);
        brightness: 1;
        blur: gaussian( 0 );
    }
}   

