.my_battle_left_area_main{
    @extend .backdefualt;
    width: 640px;
    height: 360px;
    y:540px;
    opacity: 0.5;
}

.my_battle_center_area_main{
    @extend .backdefualt    ;
    width: 640px;
    height: 360px;
    x:640px;
    y:540px;
    opacity: 0.5;
}

.backdefualt{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000088 ), to( #031130 ) );
    border-style: solid;
    border-width: 1px;
    padding: 1px 1px;
    border-top-color: #555555b7;
    border-left-color: #494949c5;
    border-bottom-color: #333333be;
    border-right-color: #404040cc;
}

.my_battle_right_area_main{
    @extend .backdefualt;
    width: 640px;
    height: 360px;
    x:1280px;
    y:540px;
    opacity: 0.5;
}


.you_battle_left_area_main{
    @extend .backdefualt;
    width: 640px;
    height: 360px;
    y:180px;
    opacity: 0.5;
}

.you_battle_center_area_main{
    @extend .backdefualt;
    width: 640px;
    height: 360px;
    x:640px;
    y:180px;
    opacity: 0.5;
}

.you_battle_right_area_main{
    @extend .backdefualt;
    width: 640px;
    height: 360px;
    x:1280px;
    y:180px;
    opacity: 0.5;
}



.uuid{
    font-size: 15px;
    color: #ffffffb9;
    z-index: 20;
    text-shadow: 1px 1px 1px 3.0 black;
    align:center center;
}

.skill_ready{
    animation-name: skill_rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target{
    animation-name: select_target;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


// export enum select_type{
//     任意单体 == 0,
//     敌方单体 == 1,
//     敌方近邻 == 2,
//     敌方全体 == 3,
//     全体 == 4,
//     友方单体 == 5,
//     友方全体 == 6,
//     自己 == 7 ,
//     敌方对格 == 8,
// }

.select_target0{
    animation-name: select_target0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    &:hover{
        
    }
}

.select_target1{
    animation-name: select_target1;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target2{
    animation-name: select_target2;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target3{
    animation-name: select_target3;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target4{
    animation-name: select_target4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target5{
    animation-name: select_target5;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target6{
    animation-name: select_target6;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target7{
    animation-name: select_target7;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target8{
    animation-name: select_target8;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target9{
    animation-name: select_target9;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target10{
    animation-name: select_target10;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target11{
    animation-name: select_target11;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target12{
    animation-name: select_target12;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.select_target13{
    animation-name: select_target12;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
//

.my_effect{
    width: 300px;
    height: 300px;
    z-index: 100;
    @for $i from 1 to 6{
        &.my_Midway#{$i}{
            x:560px + $i * 120px - 100px;
            y:546px - 100px;
        }
    }
    @for $i from 1 to 6{
        &.my_Goup#{$i}{
            x:-80px + $i * 120px - 100px;
            y:546px - 100px;
        }
    }
    @for $i from 1 to 6{
        &.my_Laiddown#{$i}{
            x:1200px + $i * 120px - 100px;
            y:546px - 100px;
        }
    }
}

.you_effect{
    width: 300px;
    height: 300px;
    z-index: 50;
    @for $i from 1 to 6{
        &.you_Midway#{$i}{
            x:540px + $i * 120px - 100px;
            y:361px - 100px;
        }
    }
    @for $i from 1 to 6{
        &.you_Goup#{$i}{
            x:-80px + $i * 120px - 100px;
            y:361px - 100px;
        }
    }
    @for $i from 1 to 6{
        &.you_Laiddown#{$i}{
            x:1200px + $i * 120px - 100px;
            y:361px - 100px;
        }
    }
}

.my_Card{
    @extend .defualt;
    width: 180px;
    height: 260px;
    x:800px;
    y:500px;
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-property: width,height,transform,opacity,pre-transform-scale2d,position,saturation;
    opacity: 0;
    pre-transform-scale2d:1;
    .abilityimage{
        width: 80%;
        height: 80%;
        align:center bottom;
    }
    &.my_hide{
        opacity: 0;
    }
    &.my_Heaps{
        width: 120px;
        height: 170px;
        pre-transform-scale2d:1;
        x:1300px;
        y:900px;
        transform: rotateZ(90deg);
        opacity: 0;
    }
    &.dragHero{
        width: 100px;
        height: 170px;
    }
    @for $i from 1 to 6{
        &.my_Midway#{$i}{
            width: 100px;
            height: 170px;
            x:560px + $i * 120px;
            y:546px;
            box-shadow: 3px 3px 3px 1.5 black;
            opacity: 1;
        }
    }
    @for $i from 1 to 6{
        &.my_Goup#{$i}{
            width: 100px;
            height: 170px;
            x:-80px + $i * 120px;
            y:546px;
            box-shadow: 3px 3px 3px 1.5 black;
            opacity: 1;
        }
    }
    @for $i from 1 to 6{
        &.my_Laiddown#{$i}{
            width: 100px;
            height: 170px;
            x:1200px + $i * 120px;
            y:546px;
            box-shadow: 3px 3px 3px 1.5 black;
            opacity: 1;
        }
    }
    @for $i from 1 to 30 {
        &.my_Hand#{$i}{
            x:500px + $i * 40px;
            y:900px;
            z-index:$i;
            opacity: 1;
            &.my_hover{
                transform: translateY(-200px);
                &.drag{
                    z-index: 15;
                    animation-name: rotation;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
    @for $i from 1 to 30{
        &.my_hidden_area#{$i}{
            opacity: 1;
            width: 180px;
            height: 260px;
            x:300px + $i * 50px;
            y:1020px;
            box-shadow: 3px 3px 3px 1.5 black;
            z-index:20+$i;
        }
    }
    &.my_ability{
        opacity: 1;
        x:100px;
        y:800px;
        animation-name: ability;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    &.my_death{
        opacity: 1;
        width: 0px;
        height: 0px;
        opacity: 0;
    }
    &.my_ingrave{
        opacity: 1;
        x:180px;
        y:910px;
        width: 90px;
        height: 160px;
        animation-name: grave;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode:forwards;
    }
    &.my_attack_animation{
        opacity: 1;
        animation-name: myhit;
        animation-duration: 1.5s;
    }
    &.my_death_animation1{
        opacity: 1;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: rotateZ(-14deg) translateY(88px);
        saturation: 0;
    }
    &.my_death_animation2{
        opacity: 1;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: rotateZ(-24deg) translateY(88px);
        saturation: 0;
    }
    &.my_death_animation3{
        opacity: 1;
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: rotateZ(-44deg) translateY(88px);
        saturation: 0;
    }
    &.dragEquip{
        opacity: 1;
        animation-name: high-rotation;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        width: 30px;
        height: 30px;
    }
}
.threeDimensional{  
    width: 100%;
    height: 35px;
    flow-children:right;
    vertical-align: bottom;
    background-color: #000000b9;
    Label{
        color: white;
        text-shadow: 0px 0px 1px 1.5 black;
        align:center center;
    }
    .attack{
        margin-left: 2.5px;
        width: 30%;
        height: 80%;
        background-color: #e7881abd;
        border:1px solid black;
        border-radius: 5px;
        vertical-align: center;
    }
    .arrmor{
        @extend .attack;
        background-color: #397ea7bd;
    }
    .heal{
        @extend .attack;
        background-color: #db4e6dbd;
    }
    
}

@for $i from 1 to 6{
    .my_tower#{$i}{
        border-radius: 15px;
        width: 100px;
        height: 100px;
        x:260px + ($i - 1) * 650px;
        y:750px;
        border: 3px solid black;
        @extend .defualt;
        z-index: 0;
        Label{
            color: chartreuse;
            font-size: 40px;
            text-shadow: 0px 0px 10px 4.0 black;
            align:center center;    
        }
        &.high{
            width: 120px;
            height: 120px;
            border: 3px solid chartreuse;
        }
        &.isbase{
            width: 120px;
            height: 120px;
            border: 3px solid rgb(255, 136, 0);
            @extend .backdefualt;
        }
    }
}

@for $i from 1 to 6{
    .you_tower#{$i}{
        border-radius: 15px;
        width: 100px;
        height: 100px;
        x:260px + ($i - 1) * 650px;
        y:230px;
        border: 3px solid black;
        @extend .defualt;
        z-index: 0;
        Label{
            color: chartreuse;
            font-size: 40px;
            text-shadow: 0px 0px 10px 4.0 black;
            align:center center;    
        }
        &.high{
            width: 120px;
            height: 120px;
            border: 3px solid chartreuse;
        }
        &.isbase{
            width: 120px;
            height: 120px;
            border: 3px solid rgb(255, 136, 0);
            @extend .backdefualt;
        }
    }
}


.you_Card{
    @extend .defualt;
    width: 140px;
    height: 190px;
    x:800px;
    y:300px;
    border-radius: 10px;
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: transform,opacity,pre-transform-scale2d,position,saturation;
    pre-transform-scale2d:1;
    &.you_hide{
        opacity: 0;
    }
    &.you_Heaps{
        width: 120px;
        height: 170px;
        pre-transform-scale2d:1;
        x:500px;
        y:0px;
        transform: rotateZ(90deg);
        opacity: 1;
    }
   
    @for $i from 1 to 30{
        &.you_hidden_area#{$i}{
            opacity: 1;
           visibility: collapse;
        }
    }
    &.you_attack_animation{
        animation-name: youhit;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
    }
    &.you_ability{
        opacity: 1;
        x:1500px;
        y:30px;
        animation-name: ability;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @for $i from 1 to 6{
        &.you_Midway#{$i}{
            opacity: 1;
            width: 100px;
            height: 170px;
            x:560px + $i * 120px;
            y:361px;
            box-shadow: 3px 3px 3px 1.5 black;
        }
    }
    @for $i from 1 to 6{
        &.you_Goup#{$i}{
            opacity: 1;
            width: 100px;
            height: 170px;
            x:-80px + $i * 120px;
            y:361px;
            box-shadow: 3px 3px 3px 1.5 black;
        }
    }
    @for $i from 1 to 6{
        &.you_Laiddown#{$i}{
            opacity: 1;
            width: 100px;
            height: 170px;
            x:1200px + $i * 120px;
            y:361px;
            box-shadow: 3px 3px 3px 1.5 black;
        }
    }
    @for $i from 1 to 30 {
        &.you_Hand#{$i}{
            opacity: 1;
            x:700px + $i * 40px;
            y:-50px;
            z-index:$i;
            &.you_hover{
                transform: translateY(-200px);
            }
        }
    }
    &.you_ability{
        opacity: 1;
        x:1200px;
        y:100px;
        animation-name: ability;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    &.you_death{
        animation-name: death;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode:forwards;
    }
    &.you_ingrave{
        opacity: 1;
        x:1720px;
        y:10px;
        width: 90px;
        height: 160px;
        animation-name: grave;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode:forwards;
    }
    &.you_death_animation1{
        animation-timing-function: cubic-bezier(0.355, 0.03, 0.515, 0.955);
        transform: rotateZ(-40deg) translateY(-88px);
        saturation: 0;
    }
    &.you_death_animation2{
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: rotateZ(-22deg) translateY(-88px);
        saturation: 0;
    }
    &.you_death_animation3{
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: rotateZ(-33deg) translateY(-88px);
        saturation: 0;
    }
}

.hurt{
    animation-name: hurt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
}

.fog{
    width: 1920px;
    height: 1080px;
    x:0px;
    y:0px;
    z-index: 0;
}

.you_Carddummy{
    width: 200px;
    height: 300px;  
    z-index: 25;
    &.hide{
        visibility: collapse;
    }
    @for $i from 1 to 30 {
        &.you_Hand#{$i}{
            x:700px + $i * 40px;
            y:-50px;
            z-index:$i;
        }
    }   
    @for $i from 1 to 6{
        &.you_Midway#{$i}{
            width: 100px;
            height: 170px;
            x:560px + $i * 120px;
            y:361px;
        }
    }
    @for $i from 1 to 6{
        &.you_Goup#{$i}{
            width: 100px;
            height: 170px;
            x:-80px + $i * 120px;
            y:361px;
        }
    }
    @for $i from 1 to 6{
        &.you_Laiddown#{$i}{
            width: 100px;
            height: 170px;
            x:1200px + $i * 120px;
            y:361px;
        }
    }
}

.my_Carddummy{
    width: 200px;
    height: 300px;  
    z-index: 20;
    &.hide{
        visibility: collapse;
    }
    @for $i from 1 to 30 {
        &.my_Hand#{$i}{
            height: 400px;
            x:500px + $i * 40px;
            y:800px;
            z-index: $i+1;
        }
    }   
    @for $i from 1 to 6{
        &.my_Midway#{$i}{
            width: 100px;
            height: 170px;
            x:560px + $i * 120px;
            y:546px;
        }
    }
    @for $i from 1 to 6{
        &.my_Goup#{$i}{
            width: 100px;
            height: 170px;
            x:-80px + $i * 120px;
            y:546px;
        }
    }
    @for $i from 1 to 6{
        &.my_Laiddown#{$i}{
            width: 100px;
            height: 170px;
            x:1200px + $i * 120px;
            y:546px;
        }
    }
}


.defualt{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
    border-style: solid;
    border-width: 1px;
    padding: 1px 1px;
    border-top-color: #555555b7;
    border-left-color: #494949c5;
    border-bottom-color: #333333be;
    border-right-color: #404040cc;
}

.lowborder-defualt{
    background-color: black;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 0.5px;
    border-top-color: #555555b7;
    border-left-color: #494949c5;
    border-bottom-color: #333333be;
    border-right-color: #404040cc;
}


.defualtoptical{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d451c ), to( #2a9aeb21 ) );
    border-style: solid;
    border-width: 1px;
    padding: 1px 1px;
    border-top-color: #555555b7;
    border-left-color: #494949c5;
    border-bottom-color: #333333be;
    border-right-color: #404040cc;
}

.my_Card_container_parent{
    flow-children:right;
    vertical-align: top;
    horizontal-align:center;
    .up{
        width: 100px;
        height: 170px;
        margin-left: 20px;
        border: 1px solid white;
        opacity: 0;
        transition-duration: 0.5s;
        transition-property: opacity;
        &.show{
            opacity: 1;
        }
    }
    Label{
        font-size: 40px;
        align:center center;
        color: blanchedalmond;
        text-shadow: 0px 0px 3px 1.5px black;
    }
}



.you_Card_container_parent{
    flow-children:right;
    vertical-align: bottom;
    horizontal-align:center;
    &.active{
        width: 100px;
        height: 170px;
        margin-left: 20px;
        border: 1px solid white;
        box-shadow: 3px 3px 15px 5.0 black;
    }
}

.my_Arrow_tip{
    opacity: 1;
    transition-duration: 0.2s;
    transition-property: opacity;
    z-index: 16;
    &.hide{
        opacity: 0;
    }
}

.CardContext{
    width: 100%;
    height: 100%;
}

.root{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: url("file://{images}/background.png");
    background-size: 100% 100%;
    z-index: -1;
}

@mixin BATTLESTATE {
    width: 100px;
    height: 170px;
}

.card_frame{
    width:100%;
    height: 100%;
    animation-name: clipMe;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    background-image: url("file://{images}/frame.png");
    background-size: 100% 100%;
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: transform,opacity,pre-transform-scale2d,position;
    &.show{
        opacity: 1;
    }
}

.my_summon{
    @extend .defualt;
    @include BATTLESTATE;   
    border-radius: 10px;
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: transform,opacity,pre-transform-scale2d,position;
    pre-transform-scale2d:1;
}

.you_summon{
    @extend .defualt;
    @include BATTLESTATE;
    border-radius: 10px;
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: transform,opacity,pre-transform-scale2d,position;
    pre-transform-scale2d:1;
}

.my_1energyBarmain{
    @extend .defualtoptical;
    width: 400px;
    height: 33px;
    x:112px;
    y:859px;
}

.my_2energyBarmain{
    @extend .my_1energyBarmain;
    x:762px;
    y:859px;
}

.my_3energyBarmain{
    @extend .my_1energyBarmain;
    x:1412px;
    y:859px;
}

.you_1energyBarmain{
    @extend .defualtoptical;
    width: 400px;
    height: 33px;
    x:762px;
    y:189px;
}

.you_2energyBarmain{
    @extend .defualtoptical;
    width: 400px;
    height: 33px;
    x:1412px;
    y:189px;
}

.you_3energyBarmain{
    @extend .defualtoptical;
    width: 400px;
    height: 33px;
    x:112px;
    y:189px;
}


.my_2energyBarmain{
    @extend .defualt;
    @extend .my_1energyBarmain
}

.my_energyBlock{
    width: 90%;
    height: 100px;
    background-color: #000000b9;
    align:center center;
}

@for $b from 1 to 4{
@for $i from 0 to 10{
    .my_#{$b}energy#{$i}{
        border-radius: 10px;
        width: 22px;
        height: 22px;
        x:(175px + ($b - 1) * 650px ) + ($i - 1) * 35px;
        y:865px;
        background-color: darkgrey;
        transition-duration: 2s;
        transition-property:background-color;
        &.beUsable{
            background-color: rgb(60, 255, 0);
        }
        &.notOwned{
            background-color: #373d45;
        }
        &.consume{
            background-color: rgb(245, 245, 220);
        }
    }
}
}

@for $b from 1 to 4{
    @for $i from 0 to 10{
        .you_#{$b}energy#{$i}{
            border-radius: 10px;
            width: 22px;
            height: 22px;
            x:(175px + ($b - 1) * 650px ) + ($i - 1) * 35px;
            y:195px;
            background-color: red;
            transition-duration: 2s;
            transition-property:background-color;
            &.beUsable{
                background-color: rgb(60, 255, 0);
            }
            &.notOwned{
                background-color: #373d45;
            }
            &.consume{
                background-color: rgb(245, 245, 220);
            }
        }
    }
}

.heroimage{
    width: 100%;
    height: 80%;
    align:center bottom;
}

.EquipmentManager{
    width: 100%;
    height: 40px;
    z-index: 21;
    flow-children:right;
    .Equipment{
        width: 34%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        .beEquipped{
            @extend .lowborder-defualt;
            background-color: rgb(0, 0, 0);
            align:center center;
        }
    }
}

.select{
    animation-name: high;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.Baffle{
    transition-duration: 3s;
    transition-property: opacity;
    opacity: 1;
    &.hide{
        opacity: 0;
    }
}

.my_Turnbased{
    @extend .defualt;
    width: 300px;
    height: 100px;
    x:1500px;
    y:950px;
    flow-children:right;
    .time{
        width: 100px;
        height: 100px;
        Label{
            font-size: 36px;
            color: rgb(22, 255, 99);
        }
    }   
    .coin{
        width: 100px;
        height: 100px;
        Label{
            font-size: 36px;
            color: gold;
        }
    }
    .skip{
        width: 100px;
        height: 33px;
    }
    Label{
        align:center center;
    }
}

.high{
    background-color: rgb(161, 143, 98);
}

.frame{
    flow-children:down;
}

.you_Turnbased{
    @extend .my_Turnbased;
    x:100px;
    y:30px;
}

.curtain1{
    width: 640px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.863);
    y:180px;
    &.high{
        background-color:rgba(0, 0, 0,0)
    }
}

.curtain2{
    width: 640px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.863);
    y:180px;
    x:640px;
    &.high{
        background-color:rgba(0, 0, 0,0)
    }
}

.curtain3{
    width: 640px;
    height: 720px;
    background-color: rgba(0, 0, 0, 0.863);
    y:180px;
    x:1280px;
    &.high{
        background-color:rgba(0, 0, 0,0)
    }
}

.root{
    width: 100%;
    height: 100%;
}

.Euquip_Main{
    @extend .defualt;
    width: 790px;
    height: 500px;
    z-index: 33;
    align:center center;
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: transform,opacity;
    &.hide{
        transform: translateY(-800px);
        opacity: 0;
    } 
}

.Equip{
    align:center top;
}

.Main_in{
    width: 93%;
    height: 93%;
    align:center center;
    @extend .defualt;
    flow-children:right-wrap;
}

.exit{
    @extend .defualt;
    Label{
        font-size: 13px;
        color: rgb(0, 255, 128);
    }
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: transform,opacity;
    &.hide{
        transform: translateY(-800px);
        opacity: 0;
    } 
    x:1300px;
    y:290px;
    z-index: 88;
}

.buy{
    @extend .defualt;
    width: 65%;
    height: 25px;
    align:center center;
    Label{
        align:center center;
    }
}

.Modifiler_Main{
    width: 90%;
    height: 60%;
    align:center top;
    flow-children:right-wrap;
    z-index: 50;
    y:42px;
}

.Equip_box{
    width: 100px;
    height: 130px;
    margin: 10px;
    flow-children:down;
    @extend .defualt;
}   

.StateCompoentMain{
    @extend .defualt;
    width: 22px;
    height: 22px;
    z-index: 50;
    .StateCompoentImage{
        width: 100%;
        height: 100%;
        background-color: antiquewhite;
        Label{
            font-size: 12px;
        }
    }
}


.Abilitydescribe{
    color: white;
    background-color: rgba(0, 0, 0, 0.774);
}