.my_battle_left_area_main{
    @extend .defualt;
    width: 640px;
    height: 360px;
    y:540px;
}

.my_battle_center_area_main{
    @extend .defualt;
    width: 640px;
    height: 360px;
    x:640px;
    y:540px;
}

.my_battle_right_area_main{
    @extend .defualt;
    width: 640px;
    height: 360px;
    x:1280px;
    y:540px;
}


.you_battle_left_area_main{
    @extend .defualt;
    width: 640px;
    height: 360px;
    y:180px;
}

.you_battle_center_area_main{
    @extend .defualt;
    width: 640px;
    height: 360px;
    x:640px;
    y:180px;
}

.you_battle_right_area_main{
    @extend .defualt;
    width: 640px;
    height: 360px;
    x:1280px;
    y:180px;
}



.my_Card{
    @extend .defualt;
    width: 180px;
    height: 260px;
    border-radius: 10px;
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: transform,opacity,pre-transform-scale2d,position;
    pre-transform-scale2d:1;
    DOTAHeroImage{
        width: 80%;
        height: 80%;
        align:center top;
    }
    &.my_Heaps{
        width: 120px;
        height: 170px;
        pre-transform-scale2d:1;
        x:1300px;
        y:900px;
        transform: rotateZ(90deg);
    }
    @for $i from 1 to 6{
        &.my_Midway#{$i}{
            width: 100px;
            height: 170px;
            x:770px + $i * 50px;
            y:546px;
        }
    }
    @for $i from 1 to 6{
        &.my_Goup#{$i}{
            width: 100px;
            height: 170px;
            x:-80px + $i * 120px;
            y:546px;
        }
    }
    @for $i from 1 to 6{
        &.my_Laiddown#{$i}{
            width: 100px;
            height: 170px;
            x:1200px + $i * 120px;
            y:546px;
        }
    }
    @for $i from 1 to 6 {
        &.my_Hand#{$i}{
            x:500px + $i * 100px;
            y:900px;
            z-index:$i;
            &.my_hover{
                transform: translateY(-200px);
                &.drag{
                    z-index: 15;
                    animation-name: rotation;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}
.threeDimensional{  
    width: 100%;
    height: 35px;
    flow-children:right;
    vertical-align: bottom;
    background-color: #000000b9;
    Label{
        color: white;
        text-shadow: 0px 0px 1px 1.5 black;
        align:center center;
    }
    .attack{
        margin-left: 2.5px;
        width: 30%;
        height: 80%;
        background-color: #e7881abd;
        border:1px solid black;
        border-radius: 5px;
        vertical-align: center;
    }
    .arrmor{
        @extend .attack;
        background-color: #397ea7bd;
    }
    .heal{
        @extend .attack;
        background-color: #db4e6dbd;
    }
}


.you_Card{
    @extend .defualt;
    width: 140px;
    height: 190px;
    border-radius: 10px;
    opacity: 1;
    transition-duration: 0.5s;
    transition-property: transform,opacity,pre-transform-scale2d,position;
    pre-transform-scale2d:1;
    &.you_Heaps{
        width: 120px;
        height: 170px;
        pre-transform-scale2d:1;
        x:500px;
        y:0px;
        transform: rotateZ(90deg);
    }
    @for $i from 1 to 6{
        &.you_Midway#{$i}{
            width: 100px;
            height: 170px;
            x:770px + $i * 50px;
            y:361px;
        }
    }
    @for $i from 1 to 6{
        &.you_Goup#{$i}{
            width: 100px;
            height: 170px;
            x:-80px + $i * 120px;
            y:361px;
        }
    }
    @for $i from 1 to 6{
        &.you_Laiddown#{$i}{
            width: 100px;
            height: 170px;
            x:1200px + $i * 120px;
            y:361px;
        }
    }
    @for $i from 1 to 6 {
        &.you_Hand#{$i}{
            x:700px + $i * 50px;
            y:-50px;
            z-index:$i;
            &.you_hover{
                transform: translateY(-200px);
            }
        }
    }
    
}

.my_Carddummy{
    width: 200px;
    height: 300px;  
    @for $i from 1 to 6 {
        &.my_Hand#{$i}{
            x:500px + $i * 100px;
            y:900px;
            z-index: $i+1;
        }
    }   
    z-index: 10;
}


.defualt{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d457a ), to( #4d586075 ) );
    border-style: solid;
    border-width: 2px;
    padding: 4px 10px;
    border-top-color: #555555b7;
    border-left-color: #494949c5;
    border-bottom-color: #333333be;
    border-right-color: #404040cc;
}

.my_Card_container_parent{
    flow-children:right;
    vertical-align: top;
    horizontal-align:center;
    .up{
        width: 100px;
        height: 170px;
        margin-left: 20px;
        border: 1px solid white;
    }
}



.you_Card_container_parent{
    flow-children:right;
    vertical-align: bottom;
    horizontal-align:center;
    &.active{
        width: 100px;
        height: 170px;
        margin-left: 20px;
        border: 1px solid white;
        box-shadow: 3px 3px 15px 5.0 black;
    }
}

.my_Arrow_tip{
    opacity: 1;
    transition-duration: 0.2s;
    transition-property: opacity;
    z-index: 16;
    &.hide{
        opacity: 0;
    }
}

.CardContext{
    width: 100%;
    height: 100%;
}

.root{
    width: 100%;
    height: 100%;
    // background-color: rgb(0, 0, 0);
}

@mixin BATTLESTATE {
    width: 100px;
    height: 170px;
}

