
Label{
    font-family: Goudy Trajan Medium, FZKai-Z03, TH Sarabun New;
}

.defualt{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d457a ), to( #4d586075 ) );
    border-style: solid;
    border-width: 2px;
    padding: 4px 10px;
    border-top-color: #555555b7;
    border-left-color: #494949c5;
    border-bottom-color: #333333be;
    border-right-color: #404040cc;
}

.Main{
    width: 100%;
    height: 100%;
}

.root{
    width: 100%;
    height: 100%;
}

.BaseBoard{
    width: 98%;
    height: 98%;
    border: 2px solid rgba(80, 80, 80, 0.164);
    align: center center;
}

.Pool{
    @extend .defualt;
    x:530px;
    y:170px;
    width: 800px;
    height: 800px;
    flow-children: right-wrap;
}

.Cardframe{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: 1px solid gold;
    vertical-align: center;
    margin-left: 15px;
    border-left: 0px solid rgb(255, 145, 0);
    border-right: 1.5px solid rgb(229, 255, 0);
}

.Card{
    @extend .defualt;
    width: 115px;
    height: 115px;
    margin: 10px;
    border-radius: 10px;
    opacity: 1;
    margin-left: 28px;
    transform: rotateY(0deg);
    transition-duration: 0.5s;
    transition-property: transform,opacity;
    &:hover{
        border:1px solid greenyellow;
    }
    &.highlight{
        border:2px solid rgb(255, 136, 0);
    }
    &.disable{
        saturation: 0;
    }
}

.redOwnedpool{
    @extend .defualt;
    width: 400px;
    height: 800px;
    x:0px;
    y:92px;
    transition-property: background-color;
    &.hight{
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000007a ), to( #a10d0d75 ) );
    }
}

.blueOwnedpool{
    @extend .redOwnedpool;
    x:1480px;
    &.hight{
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #5e47747a ), to( #1796bd75 ) );
    }
}

.redCard{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    opacity: 0;
    align:center center;
    transition-duration: 0.33s;
    transition-property: opacity;
    box-shadow:inset 10px 10px 5px #8888882f;
    &.bright{
        opacity: 1;
    }
}

.goldenWord{
    font-size: 22px;
    color: goldenrod;
    align:left center;
    margin-left: 12px;
}

.blueCard{
    @extend .redCard;
    &.bright{
        opacity: 1;
    }
}

.OwendCardlist{
    flow-children:down;
}

.OwendCardlistparent{
    x:39px;
    y:129px;
    &.hight{
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #60ee357a ), to( #20ec0575 ) );
    }
}

.blueownedCard{
    @extend .defualt;
    width: 320px;
    height: 80px;
    border-radius: 10px;
    z-index: 5;
    flow-children:right;
    margin-top: 10px;
    background-color: rgba(128, 128, 128, 0.26);
    Label{
        align:center center;
    }
    &.high{
        box-shadow: inset #9dff0062 0px 0px 5px 2px;
    }
}

.Okbutton{
    @extend .defualt;
    width: 200px;
    height: 60px;
    x:820px;
    y:100px;
    Label{
        font-size: 25px;
        align:center center;
        color: white;
        text-shadow: 0px 0px 3px 1.0 black;
    }
    &.hight{
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #7c1a1a7a ), to( #ff0000b2 ) );
    }
}

.Tip{
    font-size: 25px;
    color: antiquewhite;
    text-shadow:2px 2px 8px 3.0 #333333b0;
    x:780px;
    y:60px; 
}

.bluenum{
    font-size: 40px;
    align: center center;
}


.rednum{
    @extend .bluenum;
}

.redownedCard{
   @extend .blueownedCard
}

.bluePlayerinformation{
    width: 312px;
    height: 93px;
    background-color:rgba(121, 139, 241, 0.411);
    x:43px;
    y:21px;
}

.redPlayerinformation{
    width: 312px;
    height: 93px;
    background-color:rgba(255, 0, 0, 0.411);
    x:43px;
    y:21px;
}